html{background-color:#fff;overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,code,form,input,button,fieldset,textarea,p,blockquote,th,td{margin:0;padding:0}
body,button,input,select,textarea{font-size:12px;line-height:1.5;font-family:\5FAE\8F6F\96C5\9ED1,Arial,\5b8b\4f53,sans-serif;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-family:\5FAE\8F6F\96C5\9ED1;}
input,button,textarea,select{font-size:100%}
input:focus{outline:none}
button::-moz-focus-inner,input::-moz-focus-inner{ border:0px; padding:0px;}
.clearfix{*zoom:1;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}

a{color:#666;text-decoration:none;outline:none;}
a:hover{color:#666;text-decoration:underline;}
body{color:#505050;}

/* Ê±¼ä¿Ì¶È */
.time_slider{margin:10px auto;}
.time_slider .tit{margin-left:10px;}
.time_line .T_axis,.time_line .T_axis s,.time_line .T_staff .fir,.time_line .T_time,.time_line .T_time_hover{background:url(time_line.png) no-repeat}
.time_line{position:relative;width:960px;height:85px;margin:10px auto;}
.time_line .T_box{position:relative;left:0;top:42px;height:15px;margin-left:90px;}
.time_line .T_axis{position:absolute;top:47px;left:0;height:6px;width:100%;background-position:0 0;background-repeat:repeat-x;}
.time_line .T_axis s{width:3px;height:6px;}
.time_line .T_axis .T_l{float:left;background-position:0 -7px;}
.time_line .T_axis .T_r{float:right;background-position:-5px -7px;}
.time_line .T_staff s{display:block;position:absolute;background-color:#aaa;overflow:hidden;}
.time_line .T_staff .fir{top:0px;height:14px;width:5px;background-position:-10px -7px;}
.time_line .T_staff .oth{top:3px;height:2px;width:1px;}
.time_line .T_unit span{position:absolute;top:20px;color:#666;}
.time_line .T_time{position:absolute;top:-42px;width:62px;height:41px;line-height:1.9;background-position:0 -49px;color:#fff;text-align:center;}
.time_line .T_time_hover{display:none;position:absolute;top:-26px;width:62px;height:25px;line-height:1.9;background-position:0 -22px;color:#fff;text-align:center;}
